@charset "utf-8";

.centrar
{
    position: absolute;   
    top:50%;
    left:50%;    
    width:500px;
    margin-left:-200px;    
    height:430px;
    margin-top:-200px;
    border:4px solid #0E98B6;
    padding:5px;
}

.preguntasTitulo{background:#0E98B6;padding:8px 5px;color:#fff;margin:0;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;font-size:20px;font-weight:700}