.modalBarraProgreso {
    text-align: center;
    padding: 0!important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.modalBarraProgreso:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modaldialogBarraProgreso {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modalcontentBarraProgreso {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.modalBarraProgresofooter {
    border-top: 0 none;
}

.modalBarraProgresoTituloLargo {
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    text-align: center;
}

:root {
    --rotate-loading-1: 0deg;
    --rotate-loading-2: 0deg;
}

.progress {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: #44484b;
    font-size: 50px;
    color: #fff;
    line-height: 185px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate( var(--rotate-loading-1) );
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate( var(--rotate-loading-2) );
    }
}

@media only screen and (max-width: 990px){
    .progress{ 
        margin-bottom: 20px; 
    }
}

.spinnerBarraProgreso {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationSpinnerBarraProgreso 1s linear infinite;
}

@keyframes rotationSpinnerBarraProgreso {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.alertify-alert {
    top: 10px;
}

.alertify-confirm {
    top: 10px;
}