/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2017, 13:38:47
    Author     : mychael.castro
*/

.marco {
    background-color: white;
    width:  90%;
    height:  380px;
    margin:  5% auto auto auto;
    border-radius: 5px; 
    padding-bottom: 10%
}

.titulo {
    text-align: center;
    padding-top: 10%;
    font-size: 2.8em;;
}

.botones {
    width: 100%;
    margin: auto;
    text-align: center;
}
.button_fdzn {
    margin-top: 4%;
    margin-left: 2%;
    width: 200px ; /* 185px;*/
    height:90px ; /*35px;*/ 
    padding: 0% 0% 0% 0%; /* padding: 2% 0% 4% 0%;*/
    text-decoration: none;
    outline: none;

    font-size: 25px;

    -moz-box-shadow:inset 0 1px 0 0 #fff;-webkit-box-shadow:inset 0 1px 0 0 #fff;background-color:#dfeffc;
    -moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #dcdcdc;display:inline-block;
    cursor:pointer;color:#1d5987;font-family:Arial; font-weight:700; 
    text-decoration:none;text-shadow:-1px 1px 0 #fff; 
}

.text_cedula {
    height: 50px;
    font-size: 25px;
    width: 480px;
    text-align: center;
    margin-top: 4%;
}

.text_codigoVitality {
    height: 50px;
    font-size: 25px;
    width: 480px;
    text-align: center;
    margin-top: 4%;
}

#pre1 {

}
#pre2 {
    display: none;
}

#registroCliente{
    display: none;
}
#ingresoCedula{
    display: none;
}

.cuadro_registro {
    width: 80%;
    margin: auto;

    padding-top: 5%;
}

.contenedorRecarga {
    height: 100px;
    margin: 20px 0 0 26%;
    font-size: 1.2em;
}

.contenedorRecarga p {
	margin: 10px 0 0 0;
}


.cuadro_registro table  tr td input.txt{
    width: 100%;
	height: 30px;
    font-weight: bold;
    font-size: 1.5em;
}

.cuadro_registro div input {

}

.textTabla{
    font-size: 20px;
    width: 45%;
    color: inherit;
}

.cuadro_registro table {
    margin: auto;
}

.cuadro_registro table{
    width: 100%;
}

.cuadro_registro table tr {
    margin:  2%;
}

.cuadro_registro table tr  td{
    padding-top: 2%;
}

.labelTitle{
    font-size: 27px;
    font-weight: bold;
}
.titulo_registro {
    text-align: left;
    padding-top: 10%;
    font-size: 25px;
}

.mensajePequeno {
    font-size: 0.8em;
    color: red;
}