@media screen and (max-width:1280px) and (max-height:800px) {
    #contenedorIzquierda{
        height: 35rem;
    }
    #listaPedido{
        height: 35rem;
    }
    #contenedorDerecha{
        height: 35rem;
    }
    .calculosTransacciones{
        top: 23rem;
        position: absolute;
    }
    .cntn_glbl_trnsccns{
        height: 43rem;
    }
}