/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .optionSelected{
    background-color: rgb(219 234 254);
  }

  .modal-content #pedidos ,.modal-content #comandas,.modal-content #motorizados{
    overflow-y: scroll; height: 350px;
  }
  .modal-content #pedidos::-webkit-scrollbar,.modal-content #comandas::-webkit-scrollbar,.modal-content #motorizados::-webkit-scrollbar{
    width: 20px;
    border-radius: 10px;
    background: rgb(224 242 254);
  }

  .modal-content #pedidos::-webkit-scrollbar-thumb,.modal-content #comandas::-webkit-scrollbar-thumb,.modal-content #motorizados::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(173, 173, 173);
  }
  .nav-tabs > li > a {
    font-size: 18px;
}
  
  