.cntMonitor {
    width: 100%;
}

.cntMonitorSuperior {
    /*background: #00ffff;*/
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
}

.cntMonitorInferior {
    /*background: brown;*/
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}


.superiorIzquierda {
    width: 49.6%;
    height: 97%;
    float: left;
    border: 0.1em solid #F0EEF5;
    border-radius: 5px;
    padding: 0;
    margin: 0.5% 0;
    background: #FFF;
}

.superiorDerecha {
    width: 49.6%;
    height: 97%;
    float: right;
    border: 0.1em solid #F0EEF5;
    border-radius: 5px;
    padding: 0;
    margin: 0.5% 0 0.5% 0;
    background: #FFF;
}

.inferiorIzquierda {
    width: 49.6%;
    height: 97%;
    float: left;
    border: 0.1em solid #F0EEF5;
    border-radius: 5px;
    padding: 0;
    margin: 0 0 0.5% 0;
    background: #FFF;
}

.inferiorDerecha {
    width: 100%;
    height: 97%;
    float: right;
    border: 0.1em solid #F0EEF5;
    border-radius: 5px;
    padding: 0;
    margin: 0 0 0.5% 0.5%;
    background: #FFF;
}

.inferior {
    width: 100%;
    height: 97%;
    float: right;
    border: 0.1em solid #F0EEF5;
    border-radius: 5px;
    padding: 0;
    margin: 0 0 0.5% 0.5%;
    background: #FFF;
}