/* #datosClientePayphone {
   
}

.pay_text{
   width: 88%;
   height: 40px;;
}
.pay_button{
  background-color: #408c99;
  border-radius: 10px;
  color: white;
  width: 10%;
   height: 40px;;
} */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #1a1a1a;
    background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 600;
}

.button {
    color: #ffffff;
    background-color: rgb(246, 146, 31);
    padding: 15px 5px;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5%;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}
.button1 {
    background-color:  rgb(48, 57, 70);
}

.button--transparent {
    background: transparent;
    border: 0;
    outline: 0;
}

.button--close {
    position: absolute;
    top: 10px;
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.25s;
    z-index: 10;
}
.button--close svg {
    width: 20px;
    height: 20px;
}
.button--close svg * {
    fill: currentColor;
}
.button--close:hover,
.button--close:active,
.button--close:focus {
    color: #fbcf34;
    background-color: #ffffff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.button--info {
    position: absolute;
    top: 0;
    right: 0;
}

input {
    width: calc(100% - 10px);
    min-height: 30px;

    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0.5px;
    border: 0;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid #f0f0f0;
}
input:valid {
    border-color: #24cf5f;
}
input:focus {
    outline: none;
    border-color: #fbcf34;
}

.form-list {
    padding-left: 0;
    list-style: none;
}
.form-list__row {
    margin-bottom: 15px;
}
.form-list__row label {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #939393;
}
.form-list__row--inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-list__row--inline > :first-child {
    -ms-flex: 2;
    flex: 2;
    padding-right: 20px;
}
.form-list__row--inline > :nth-child(2n) {
    -ms-flex: 1;
    flex: 1;
}
.form-list__input-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form-list__input-inline > * {
    width: calc(50% - 10px - 10px);
}
.form-list__row--agree {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
}
.form-list__row--agree label {
    font-weight: 400;
    text-transform: none;
    color: #676767;
}
.form-list__row--agree input {
    width: auto;
    margin-right: 5px;
}

#cardNumber {
    position: relative;
    padding-top: 6px;
}
#cardNumber input {
    padding-left: 46px;
    width: calc(100% - 46px);
}
#cardNumber:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 36px;
    height: 45px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20class%3D%22nc-icon%20glyph%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%220%200%2048%2048%22%3E%3Cg%3E%20%3Cpath%20data-color%3D%22color-2%22%20fill%3D%22%238c8c8c%22%20d%3D%22M47%2C16V9c0-1.105-0.895-2-2-2H3C1.895%2C7%2C1%2C7.895%2C1%2C9v7H47z%22%3E%3C/path%3E%20%3Cpath%20fill%3D%22%238c8c8c%22%20d%3D%22M1%2C22v17c0%2C1.105%2C0.895%2C2%2C2%2C2h42c1.105%2C0%2C2-0.895%2C2-2V22H1z%20M18%2C33H8c-0.552%2C0-1-0.448-1-1s0.448-1%2C1-1h10%20c0.552%2C0%2C1%2C0.448%2C1%2C1S18.552%2C33%2C18%2C33z%20M40%2C33h-5c-0.552%2C0-1-0.448-1-1s0.448-1%2C1-1h5c0.552%2C0%2C1%2C0.448%2C1%2C1S40.552%2C33%2C40%2C33z%22%3E%3C/path%3E%20%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;  
    z-index: 100;
    overflow-y: auto;
}
.modal1{
    padding-top: 140px;  
}
.modal__container {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
    margin-bottom: 125px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
.modal__featured {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.modal__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: rgb(246, 146, 31);
    border-radius: 50%;
    -ms-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
}
.registro {
    background-color:  rgb(48, 57, 70);
    width: 150%;
}
.modal__product {
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 85%;
    -ms-transform: translateX(calc(-50% - 10px));
    transform: translateX(calc(-50% - 10px));
}
.modal__content {
    -ms-flex: 3;
    flex: 3;
    padding: 40px 30px;
}

.modal__contentRegistro {
    -ms-flex: 3;
    flex: 3;
    padding: 40px 0px;
}


.form-list input {
    background-color: #f2f2f2;
}
/* #pay_txtCedulaCliente{
  background-color: red;
} */














.spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 280;
    left: 80%;
    display: none;

}

.spinner > div {
    background-color: #c4672f;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}







.modal__contentMedios  {
    -ms-flex: 3;
    flex: 3;

}
.modal__circleMedios {
    position: absolute;
    top: 0;
    left: 0;
    height: 300%;
    width: 170%;
    background-color: rgb(246, 146, 31);

    -ms-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
}
.modal__container_directa {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
 margin-bottom: 95px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
.modal__container {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__containerAppLink {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}


.BotonMedioPayphone{
    background-color: rgb(255 , 141, 17);
    margin-right: 10px;
    border-radius: 10px 0px 10px 0px;
    padding-top: 10px;
    margin-top: 10px;
    height: 95px;
    cursor: pointer;
}

.modal__contentMedios{
        width: 100%;
}
.modal__contentMedios >h2 { 

    color: rgb(255 , 141, 17);
    text-align: center;
}

.BotonMedioPayphone >h5  {
    font-size: 19px;
    padding: 5px;
    color: white;
}

.BotonMedioPayphone >p  {
    margin-top: 3px;
    padding: 5px;
    color: white;
}


#seccionInformacionTransaccion {
    text-align: center;padding-top: 15px; color: #939393;
 
}


.circulo {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	background-color: rgb(246,146,31); 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:0px auto;
  padding:3%
}

.circulo > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
        
}

#contenedorCirculo {
    display: none;
}
#TextoinfoAccion {
    display: none;
}
