.modal_cargando {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    z-index:999999;
    margin:0;padding:0
}

.modal_cargando_contenedor {
    margin:300px auto;
    width:234px;
    height:40px;
    color:#333;
    z-index:9999999;
    overflow-x:hidden;
    overflow-y:hidden;
    background:#fff;
    -webkit-box-shadow:0 0 37px 4px rgba(0,0,0,0.75);
    -moz-box-shadow:0 0 37px 4px rgba(0,0,0,0.75);
    box-shadow:0 0 2px 4px rgba(0,0,0,0.75);
    border-radius: 8px 8px 8px 8px;
}