/* estilo para el div que se muestra una vez se abre la ventana modal */
 .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 99998;
}

/* estilo para lo q este dentro de la ventana modal */
.modal {
	position: fixed;
	top: 5%;
	left: 35%;
	width: 400px;
	height: 580px;
	background: #fff;
	color: #333;
	z-index:1002;
	overflow: auto;
	box-shadow: inset 0 0 0 0 #000, 0 0 10px #000;
}

/* estilo para lo q este dentro de la ventana modal */
.modalfactura {
	position: fixed;
	top: 0%;
	left: 20%;
	width: 630px;
	height: 730px;
	background: #fff;
	color: #333;
	z-index:1002;	
	box-shadow: inset 0 0 0 0 #000, 0 0 10px #000;
}

/* estilo para lo q este dentro de la ventana modal */
.modalFormasPago {
	position: fixed;
	top: 10%;
	left: 20%;
	width: 800px;
	height: 580px;
	background: #fff;
	color: #333;
	z-index:1002;
	overflow: auto;
	box-shadow: inset 0 0 0 0 #000, 0 0 10px #000;
}

#lista_formaspago {
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 0.5px;
	float: left;
	left: 0;
	width: 220px;
	height: 500px;
	overflow-y: auto;
}

#trans_formaspago {
	border-bottom-style: solid;
	border-width: 0.5px;
	float: right;
	right: 0;
	height: 500px;
	width: 578px;
	overflow-y: auto;
}

#trans_formaspago table{
	margin: 10px 0  0 14px;
	width: 550px;
	text-align: center;
	padding: 0;
	border: 1px solid #000000;
	border-collapse: collapse;
	border-spacing: 0;
}

#trans_formaspago th{
	background: -o-linear-gradient(bottom, #666666 5%, #666666 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #666666) );
	background:-moz-linear-gradient( center top, #666666 5%, #666666 100% );
	background-color:#666666;
	border:0px solid #000000;
	height: 28px;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
}

#trans_formaspago td{
	height: 26px;
	font-size: 13px;
	text-align: center;
}

tr.seleccionado td {
	background: #FFFF97;
	color: #5b9dd0;
}

.titulo_formapago {
	margin: 0;
	padding: 0;
	width: 220px;
	height: 40px;
	background: #CCC;
}

.titulo_formapago h4 {
	margin: 0;
	padding: 10px;
}

.titulo_transacciones {
	margin: 0;
	padding: 0;
	width: 578px;
	height: 40px;
	background: #CCC;
	font-size:20px;
}

.titulo_transacciones h4{
	margin: 0;
	padding: 10px;
}

.facturacion {
	/*text-align:center;
	margin:auto;
	width:250px
	padding-top:0px;*/ 
	font-family: Verdana;
	font-size: 9px;
}

.promociones {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	width:240px;
	margin-left:2px;

}

#numero_general {
		font-size:12px;
}

#lectorTrama {
    margin-top: -5000px;
    position: absolute;
}
