@charset "utf-8";
/* CSS Document */
body
{
	width:100%;
	margin:auto;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	text-align:center;
}

#impresionOrden
{
	width:250px;
	/*border:1px dashed rgba(0,0,0,0.2);*/
	font-size:18px;
	text-align:center;
	padding:20px 0;
	line-height:80%;
}

.separador{ border-top:1px dashed #000; border-bottom:1px dashed #000; height:1px; clear:both;}

.listaproductosUsuario, .listaproductosMesa { text-align:center; padding:3px 0; width:100%; float:left;}
.listaproductosUsuario { margin:5px 0 0 0;}
.listaproductosMesa { margin:0 0 5px 0;}
.listaproductosFecha { text-align:center; padding:5px 0; width:100%; float:left; font-size:14px;}

.listaproductosCant { float:left; width:20px; text-align:right; padding:5px 0;}
.listaproductosDesc { float:left; margin-left:10px; width:220px; text-align:left; padding:5px 0;}


ul#listadoPedido   {
 float:left;
  margin: 5px 0 10px 0;
  padding: 0;
  list-style: none;
  clear:both;
}
ul#listadoPedido li{
  margin: 10px 0 0 0;
}


