
#contenedor1 {
	background: white;
	width: 590px;
	height: 240px;
	box-shadow: inset 0 0 0 0 #27496d,0 0 20px #32373E;
	position: absolute;
	top: 50%;
	left: 45%;
	margin-top: -150px;
	margin-left: -250px;
}
button
{
	height:60px;
	width: 120px;
}

.presentacion {
	height: 50px;
	margin: 0;
	padding: 0;
}

.nombrepos {
	margin: 20px auto 0 auto;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #126B99;
	font-size: 70px;
	font-weight: 500;
	text-decoration: blink;
	text-shadow: 0 10px 4px rgba(0, 0, 0, 0.30);
}

.nombremax{

	margin: 20px auto 0 auto;
	text-align: left;
	font-family: "Microsoft Yi Baiti"/*, "Calibri Light", "Calibri", sans-serif*/;
	font-style: normal;
	color: #4DBE49;
	font-size: 100px;
	font-weight: 500;
	text-decoration: blink;
	/*text-shadow: 0 10px 4px rgba(0, 0, 0, 0.30);*/
}


.nombrepoint{
	
	margin: 20px auto 0 auto;
	text-align: left;
	font-family: "Microsoft Yi Baiti"/*, "Calibri Light", "Calibri", sans-serif*/;
	font-style: normal;
	color: #137DE8;
	font-size: 100px;
	font-weight: 500;
	text-decoration: blink;
/*	text-shadow: 0 10px 4px rgba(0, 0, 0, 0.30);*/
}

.fondobarra{
	background-color:#303946;	
}

.botonhabilitado:hover {
	box-shadow: inset 0 0 0 0 #27496d,0 3px 10px #1682BA;
}

.botonhabilitado:active {
	box-shadow: inset 0 0 0 0 #27496d,inset 0 3px 10px #1682BA;
}

.botonesmotivo{
	width:100px;
	
}