@charset "utf-8";
* {
	margin: 0;
	padding: 0;
} 

.contenedor {
	width: 300px;
	margin: 0 auto;
}

.facturacion {
	/*text-align:center;
	margin:auto;
	width:250px
	padding-top:0px;*/ 
	font-family: Verdana;
	font-size: 9px;
}
.facturacion td {
	margin: 10px 0;
}