/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/02/2018, 14:59:00
    Author     : juan.estevez
*/

td.details-control {
    background: url('../imagenes/menuContexto/page_white_add.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../imagenes/menuContexto/page_white_delete.png') no-repeat center center;
}

