body {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button {
    height:60px;
    width: 120px;
}

#grillaPlu td {
    height:60px;
    width: 120px;
}

#grillaCategoria td {
    height:60px;
    width: 120px;

}

#menuPrincipal {
    position: absolute;
    top:  0px; 
    left: 0px;
    height:60px;
    width:120px;
    border: 1px solid;
}

#menuProducto {
    position: absolute;
    top:  50px;
    left: 230px;
    height:302px;
    width:742px;
    display:block;
    overflow:auto;
    border: 1px solid #AAAAAA;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#menuCategoria {
    position: absolute;
    top:  364px;
    left: 230px;
    width:742px;
    height:236px;
    display:block;
    overflow:auto;
    border: 1px solid #AAAAAA;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#lista {
    position:absolute;
    height: 548px;
    width: 200px;
    background:#FFFFFF;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:9px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    margin-top: 10px;
}

#listadoCategorias {
    margin: 0;
    padding: 0;
    line-height: 0;
    width: 100%;
    height: 504px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#listadoCategorias ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#listadoCategorias li {
    display: block;
    color: #000;
    padding: 0px 16px;
    text-decoration: none;
    margin-top: 1px;
}

#listadoCategorias a {
    line-height: 10px;
    text-align: center;
    display: block;
    color: #000;
    padding: 20px 0px;
    text-decoration: none;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
}

#listadoCategorias a:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-decoration: none;
}

#listadoProductos{
    margin: 0px;
    padding: 0;
    line-height: 0px;
    width: 100%;
    height: 504px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#listadoProductos ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#listadoProductos li {
    display: block;
    color: #000;
    padding: 0px 16px;
    text-decoration: none;
    margin-top: 1px;
}

#listadoProductos a {
    line-height: 10px;
    text-align: center;
    display: block;
    color: #000;
    padding: 14px 10px;
    text-decoration: none;
    border: 1px solid #000;
    width: 150px;
    height: 50px;
}

#listadoProductos a:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-decoration: none;
}

#comboCadena{
    position:absolute;
    border: 1px solid #AAAAAA;
    frameborder:1px;
    width: 203px;
    left: 2px;
    top: 25px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 9px;
}

#cadena {
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    width:195px;
}

#menucadena{ font-family:Tahoma, Geneva, sans-serif; font-size:14px;}

.cabecera { width:100%; float:left; padding:20px 0 0 0;}
.titulo { width:70%; float:left; text-align:center;}
.guardarCambios { width:5%; float:left;}
.botonDrop { cursor:move; z-index:2; overflow:visible;}

#eliminarProducto { position:absolute; top:0; right:0; width:120px; height:60px; float:right; padding:1px; color:#fff; font-size:12px; z-index:1; overflow:hidden; text-align:center; background-image:url(../imagenes/basurero.png); background-repeat:no-repeat; background-position:center;}

#eliminarCategoria { position:absolute; top:0; right:0; width:120px; height:60px; float:right; padding:1px; color:#fff; font-size:12px; z-index:1; overflow:hidden; text-align:center; background-image:url(../imagenes/basurero.png); background-repeat:no-repeat; background-position:center;}

.occupied {
    border-color: red;
}

#menuCategoria div {
    float: left;
    width: 120px;
    height: 60px;
    padding-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
    border: 2px solid #333;
}

#menuCategoria div.hovered {
    background: #aaa;
}

#menuProducto div {
    float: left;
    width: 120px;
    height: 60px;
    padding-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
    border: 2px solid #333;
}

#menuProducto div.hovered {
    background: #aaa;
}

.taken {
    background: #aaa;
}

div.cat:hover input 
{
    display: block;
}
div.cat input {
    position:absolute;
    display:none;
}
div.cat input.delete {
    top:0;
    left:80%;
    background-color:#F00;
    color:#FFF;
}

div.men:hover input 
{
    display: block;
}
div.men input {
    position:absolute;
    display:none;
}
div.men input.delete {
    top:0;
    left:80%;
    background-color:#F00;
    color:#FFF;
}

.modal_cargando {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    z-index:999999;
    margin:0;padding:0
}

.modal_cargando_contenedor {
    margin:300px auto;
    width:234px;
    height:40px;
    color:#333;
    z-index:9999999;
    overflow-x:hidden;
    overflow-y:hidden;
    background:#fff;
    -webkit-box-shadow:0 0 37px 4px rgba(0,0,0,0.75);
    -moz-box-shadow:0 0 37px 4px rgba(0,0,0,0.75);
    box-shadow:0 0 2px 4px rgba(0,0,0,0.75);
    border-radius: 8px 8px 8px 8px;
}