@charset "utf-8";
.parallax-viewport{
position: relative;
overflow: hidden;
width: npx;
height: npx;
}
.parallax-layer{
position: absolute;
}
*{
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
body{
background: url(../imagenes/ordenpedido/ws.png) repeat;
}
.pnt_rdn_pdd_mxpnt{
position: absolute;
width: 100vw;
height: 100vh;
font-size: 13px;
}
.rdn_pdd_brr_nfmcn{
background: #fff;
float: left;
width: 260px;
height: 90vh;
margin: 0;
padding: 0;
}
.rdn_pdd_sprdr{
margin: 0;
padding: 0;
height: 2px;
width: 260px;
background: #666;
}
.rdn_pdd_ctgrs_prdcts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 260px;
    width: 900px;
    height: 90vh;
    top: 0;
    padding: 5px;
}
.cnt_rdn_pdd_pls{
float: left;
width: 90%;
height: 100%;
margin: 0;
padding: 0;
}
.cnt_rdn_pdd_ctgrs{
float: left;
width: 90%;
height: 100%;
margin: 0;
padding: 0;
}
.cnt_rdn_pdd_btns{
	width: 724px;
	height: 76px;
	float: right;
	margin: 0;
	padding: 0;
}
#barraProducto, #barraCategoria {
    flex: 1;
    width: 100%;
    font-size: 1.1em;
    position: relative;
}
.boton_Accion_Bloqueado_puntos{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #88989c;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 23px;
margin-top: 0;
margin-left: 0;
margin-right: 0;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: left;
}
.boton_Accion_Bloqueado{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #88989c;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: right;
}
.boton_Cantidad{
-moz-box-shadow: inset 0 0px 0 0 #fff;
-webkit-box-shadow: inset 0 0px 0 0 #fff;
background: none;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
border: 0 solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-weight: 500;
padding: 10px 0;
margin-top: 6px;
margin-right: 4px;
text-decoration: none;
float: right;
font-size: 40px;
float: left;
text-align: left;
}
.boton_Accion:hover{
background-color: #dfeffc;
color: #2e6e9e;
}
.boton_Opcion_Bloqueado{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: none;
cursor: pointer;
color: #88989c;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin: 10px 20px 0 0;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 200px;
float: right;
}
.boton_Opcion{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin: 10px 20px 0 0;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 200px;
float: right;
}
.boton_Opcion:hover{
background-color: #dfeffc;
color: #2e6e9e;
}
.menu_desplegable{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
z-index: 999999;
}
.modal_opciones_drc{
position: fixed;
right: 0;
width: 240px;
height: 100%;
background: #fff;
color: #333;
z-index: 1002;
overflow: auto;
box-shadow: inset 0 0 0 0 #000, 0 0 10px #000;
z-index: 9999999;
}
.modal_opciones_zqd{
position: fixed;
left: 0;
width: 240px;
height: 100%;
background: #fff;
color: #333;
z-index: 1002;
overflow: auto;
box-shadow: inset 0 0 0 0 #000, 0 0 10px #000;
z-index: 9999999;
}
button{
height: 60px;
width: 120px;
cursor: pointer;
}
#piso button{
height: 60px;
width: 60px;
}
.area_button{
height: 60px;
width: 60px;
cursor: pointer;
}
#contenedorTotal{
float: left;
width: 1024px;
height: 768px;
}
#contenedorIzquierda{
float: left;
width: 260px;
padding: 3px;
}
#contenedorDerecha{
float: left;
width: 70%;
}
#listado{
width: 100%;
}
.listaproductosCant{
float: left;
width: 20px;
text-align: right;
}
.listaproductosDesc{
float: left;
margin-left: 10px;
width: 200px;
text-align: left;
letter-spacing: -1px;
}
.listaproductosVal{
float: left;
width: 60px;
margin-left: 10px;
text-align: right;
}
#listaPedidoTomaPedido{
width: 260px;
height: 80%;
/*606px*/
margin: 0;
padding: 0;
border: 1px black solid;
border-radius: 0px 7px 7px 0px;
}
#listaPedidosKiosko{
border: 1px solid black;
border-radius: 0px 7px 7px 0px;
height: 200px;
list-style-type: none;
padding-left: 0 !important;
}
.liKiosko{
font-size: 19px;
padding: 0px 5px;
background: #d0d0d0;
border: 1px solid #111;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}
.listaproductosDescTomaPedido{
float: left;
width: 100%;
font-size: 14px;
text-align: left;
font-weight: 600;
letter-spacing: 0;
}
.listaproductosCantTomaPedido{
float: left;
width: 40%;
margin: 2px 0 0;
text-align: right;
font-size: 14px;
}
.listaproductosValTomaPedido{
float: left;
width: 48%;
margin: 2px 0 0;
text-align: left;
font-size: 14px;
}
#listadoPedido .ui-selecting{
background: #ccc;
}
#listadoPedido .ui-selected{
background: #999;
}
ul#listadoPedido{
margin: 0;
padding: 0;
list-style: none;
}
ul#listadoPedido li{
padding: 2px 6px 2px 5px;
margin: 0 0 2px;
border: 1px transparent solid;
border-top: 1px solid #d2d2d2;
float: left;
width: 100%;
background: #000 url(../imagenes/ordenpedido/bg_Listas.png) top center
repeat-x;
}
ul#listadoPedido li.puntos{
padding: 2px 6px 2px 5px;
margin: 0 0 2px;
border: 1px transparent solid;
border-top: 1px solid #d2d2d2;
float: left;
width: 100%;
background: #000 url(../imagenes/ordenpedido/bg_Listas_Puntos.png) top center
repeat-x;
}
ul#listadoPedido .focus{
background: #1fa0e4;
color: #fff;
cursor: pointer;
}
ul#listadoPedido li.puntos.focus{
background: #1fa0e4;
color: #fff;
cursor: pointer;
}
#botonesLista{
background: none;
height: 125px;
padding: 6px 0;
width: 100%;
border-radius: 0;
float: left;
}
#despacho{
background: none;
height: 69px;
padding: 15px 10px;
width: 100%;
border-radius: 0;
float: left;
}
#btn_eliminarOrden{
height: 65px;
width: 120px;
}
#btn_bajarElemnto{
height: 66px;
width: 74px;
}
#btn_subirElemnto{
height: 66px;
width: 74px;
}
.nfrmcn_srs_sstm{
background-color: rgb(31, 73, 125);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4b5796', endColorstr='#4b5796', GradientType=0);
-webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
-moz-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
font-size: 16px;
font-weight: 400;
color: rgb(223, 239, 252);
letter-spacing: 1pt;
word-spacing: 2pt;
font-size: 16px;
text-align: left;
font-family: palatino linotype, palatino, serif;
line-height: 1.2;
height: 98px;
border: 1px #000 solid;
width: 260px;
border-radius: 0 7px 7px 0;
}
.nfrmcn_srs_sstm img{
float: left;
width: 30px;
display: inline-block;
padding: 0;
margin: 6px 0 0 10px;
}
.nmbr_srs_sstm{
display: inline-block;
width: 260px;
text-transform: uppercase;
color: #fff;
text-align: center;
font-size: 12px;
margin-top: 6px;
}
.nfrmcn_srs_sstm_periodo{
float: right;
width: 260px;
font-size: 12px;
color: #fff;
text-align: center;
}
.nfrmcn_srs_sstm_hora{
padding: 0;
float: right;
width: 260px;
font-family: sans-serif;
font-size: 14px;
color: #fff;
text-align: center;
}
#calculosLista{
height: 160px;
padding: 0;
float: left;
width: 260px;
font-size: 1.1em;
line-height: 100%;
}
#calculosLista table{
margin-top: 10px;
padding: 0;
float: left;
width: 100%;
}
#calculosLista td{
padding: 4px 0;
}
#barraEspacio{
float: left;
width: 105%;
font-size: 1.1em;
height: 20px;
overflow: auto;
position: relative;
}
#barraProducto, #barraCategoria {
    flex: 1;
    width: 100%;
    font-size: 1.1em;
    position: relative;
}
#barraCajero{
background: #0e98b6;
padding: 0;
margin: 0;
position: relative;
}
#barraPrincipal{
background: #003871 url(../imagenes/ordenpedido/background_tomaPedido.png)
repeat;
padding: 8px;
margin: 0;
position: relative;
}
#barraPrincipalFacturacion{
width: 835px;
background: #003871;
padding: 20px 10px;
left: 74px;
top: 660px;
position: relative;
}
#preguntasContenedor{
padding: 5px 10px 10px;
}
.preguntasCantidad{
background: #0e98b6;
padding: 5px;
color: #fff;
margin: 0 0 20px;
font-size: 15px;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.preguntasBotones{
float: left;
width: 100px;
margin: 0 20px 10px 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.preguntasAcciones{
width: 100px;
float: right;
margin-right: 30px;
}
.preguntasOculto{
display: none;
}
.preguntasVisible{
display: block;
}
div label input{
margin-right: 100px;
}
.anulacionesSeparador{
padding: 25px 5px;
color: #000;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
float: left;
}
.cuponesSeparador{
padding: 25px 0;
color: #000;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
float: left;
width: 480px;
}
.anulacionesSeparadorFin{
padding: 30px 5px;
color: #000;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
float: left;
text-align: right;
}
.anulacionesSeparadorFin #btn_anulaok{
margin-right: 20px;
}
.anulacionesMensaje{
padding: 15px 5px;
color: #db1016;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.anulacionesInput input[type="text"],
.anulacionesInput input[type="password"]{
height: 35px;
width: 300px;
}
.anulacionesSubmit input[type="submit"]{
width: 100px;
height: 70px;
}
#alertify-ok{
background-color: #3b7808;
border: 1px solid #3b7808;
}
#lectorBarras{
margin-top: -5000px;
position: absolute;
}
#barraCajero h4{
text-align: right;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 12px;
margin: 0;
padding: 0;
}
.cbcr_prgnts_sgrds h4{
padding: 10px 0 10px 10px;
margin: 0;
font-size: 18px;
}
.comentar_activo{
background-image: url(../imagenes/ordenpedido/texto.png);
background-repeat: no-repeat;
background-position: center;
}
.comentar_bloqueado{
background-image: url(../imagenes/ordenpedido/texto.png);
background-repeat: no-repeat;
background-position: center;
}
.guardar_bloqueado{
background-image: url(../imagenes/ordenpedido/guardar_bloqueado.png);
background-repeat: no-repeat;
background-position: center;
}
.guardar_activo{
background-image: url(../imagenes/ordenpedido/guardar.png);
background-repeat: no-repeat;
background-position: center;
}
.eliminar_activo{
background-image: url(../imagenes/ordenpedido/x.png);
background-repeat: no-repeat;
background-position: center;
}
.eliminar_bloqueado{
background-image: url(../imagenes/ordenpedido/x_bloqueado.png);
background-repeat: no-repeat;
background-position: center;
}
.cantidad_activo{
background-image: url(../imagenes/ordenpedido/numeros.png);
background-repeat: no-repeat;
background-position: center;
}
.cantidad_bloqueado{
background-image: url(../imagenes/ordenpedido/numeros_bloqueado.png);
background-repeat: no-repeat;
background-position: center;
}
.view_btn{
background-image: url(../imagenes/ordenpedido/view.png);
background-repeat: no-repeat;
background-position: center;
}
.transferirCuenta{
background-image: url(../imagenes/ordenpedido/transferir.png);
background-repeat: no-repeat;
background-position: center;
}
.queAlcanza_activo{
background-image: url(../imagenes/ordenpedido/queAlcanza.png);
background-repeat: no-repeat;
background-position: center;
}
.ok_activo{
background-image: url(../imagenes/ordenpedido/ok.png);
background-repeat: no-repeat;
background-position: center;
}
.ok_atras{
background-image: url(../imagenes/ordenpedido/atras.png);
}
.ok_bloqueado{
background-image: url(../imagenes/ordenpedido/ok_bloqueado.png);
background-repeat: no-repeat;
background-position: center;
}
.respuestaPregunta{
display: none;
margin: 10px;
padding: 12px 12px 0 0;
}
.respuestaPregunta + label{
padding-top: 4px;
margin: 0;
height: 58px;
width: 140px;
background-color: #e7e7e7;
border-color: #ddd;
text-align: center;
font-size: 13px;
font-family: Arial;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
}
.respuestaPregunta:checked + label{
background-image: none;
background-color: #74a0bd;
color: #fff;
}
.preguntasBotonPlu{
margin: 4px;
float: left;
display: table;
}
.preguntasBotonPlu label{
float: left;
}
.preguntasBotonPlu label div.preguntasSeleccionar{
text-align: justify;
padding: 3px 0;
display: block;
background-color: #ddd;
border-radius: 4px;
width: 130px;
height: 50px;
padding: 0 5px;
display: table-cell;
vertical-align: middle;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.preguntasBotonPlu label input{
position: absolute;
top: -20px;
}
.modal_tipopedido{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 766px;
background: rgba(0, 0, 0, 0.2);
z-index: 999999;
margin: 0;
padding: 0;
}
.modal-headertipo{
padding: 9px 15px;
border-bottom: 1px solid #eee;
background-color: #0480be;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.preguntasBotonPlu input:checked + div.preguntasSeleccionar{
background-color: #003871;
color: #fff;
}
.cntndr_slccn_cntdad_prgnts_sgrds{
float: left;
width: 40px;
height: 62px;
background: #e7e7e7;
margin: 0;
padding: 0;
font-size: 20px;
text-align: center;
-webkit-border-radius: 0 10 10 0;
-moz-border-radius: 0 10 10 0;
border-radius: 0 10px 10px 0;
}
.slccn_cntdad_prgnts_sgrds{
margin: 18px auto;
width: 40px;
height: 24px;
}
.btn_cerrar_modal_cupones{
height: 30px;
width: 30px;
float: right;
background: url(../imagenes/admin_resources/btn_eliminar.png) no-repeat;
border: 0;
margin: 6px 10px 0 0;
}
.modal_preguntas_sugeridas{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 766px;
background: rgba(0, 0, 0, 0.3);
z-index: 9;
margin: 0;
padding: 0;
}
.modal_preguntas_opciones{
margin: 0;
width: 900px;
height: 766px;
color: #333;
z-index: 10;
overflow-x: hidden;
overflow-y: hidden;
float: right;
}
.cntndr_mdl_prgnts_sgrds{
float: left;
height: 766px;
width: 760px;
margin: 0;
padding: 0;
background: #fff;
}
.cntndr_mdl_prgnts_sgrds_btns{
float: right;
width: 140px;
height: 766px;
background: #fff;
margin: 0;
padding: 0;
-moz-box-shadow: -1px 0 #000;
-webkit-box-shadow: -1px 0 #000;
box-shadow: -1px 0 #000;
z-index: 4;
}
.cbcr_prgnts_sgrds_cntdor{
background: #003851;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
color: #fff;
height: 42px;
width: 60px;
float: left;
position: absolute;
z-index: 3;
}
.cbcr_prgnts_sgrds_cntdor h4{
padding: 10px 0;
margin: 0;
text-align: center;
}
.cbcr_prgnts_sgrds{
background: #003851;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
color: #fff;
height: 42px;
width: 700px;
position: absolute;
z-index: 2;
margin: 0 0 0 60px;
}
.body_prgnts_sgrds{
background: #fff;
width: 739px;
top: 42px;
position: absolute;
z-index: 1;
}
.boton_Opcion_PS_Bloqueado{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #88989c;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin: 10px 8px 0 0;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 120px;
float: right;
}
.boton_Opcion_PS{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin: 10px 8px 0 0;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 120px;
float: right;
}
.boton_Opcion_PG:hover{
background-color: #dfeffc;
color: #2e6e9e;
}
.preguntasTitulo{
background: #0e98b6;
height: 36px;
padding: 0;
color: #fff;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
font-size: 14px;
font-weight: 700;
}
.preguntasTitulo label{
float: left;
margin: 10px 0 0 10px;
}
.preguntasTituloOpcional{
background: #aaa;
height: 36px;
padding: 0;
color: #fff;
margin: 0;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
font-size: 14px;
font-weight: 700;
}
.preguntasTituloOpcional label{
float: left;
margin: 10px 0 0 10px;
}
.btn_lmpr_slccn_prgnts_sugrds{
height: 30px;
width: 30px;
float: right;
background: url(../imagenes/admin_resources/btn_eliminar.png) no-repeat;
border: 0;
margin: 5px 5px 0 0;
}
.respuestaPregunta{
display: none;
margin: 10px;
padding: 12px 12px 0 0;
}
.respuestaPregunta + label{
padding-top: 4px;
margin: 0;
height: 58px;
width: 110px;
background-color: #e7e7e7;
border-color: #ddd;
text-align: center;
font-size: 12px;
font-family: Arial;
-webkit-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-ms-user-select: none;
}
.respuestaPregunta:checked + label{
background-image: none;
background-color: #74a0bd;
color: #fff;
}
.preguntasBotonPlu{
margin: 4px;
float: left;
display: table;
}
.preguntasBotonPlu label{
float: left;
}
.preguntasBotonPlu label div.preguntasSeleccionar{
text-align: justify;
padding: 3px 0;
display: block;
background-color: #ddd;
border-radius: 4px;
width: 130px;
height: 50px;
padding: 0 5px;
display: table-cell;
vertical-align: middle;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.preguntasBotonPlu label input{
position: absolute;
top: -20px;
}
.preguntasBotonPlu input:checked + div.preguntasSeleccionar{
background-color: #003871;
color: #fff;
}
.cntndr_slccn_cntdad_prgnts_sgrds{
float: left;
width: 40px;
height: 62px;
background: #e7e7e7;
margin: 0;
padding: 0;
font-size: 20px;
text-align: center;
-webkit-border-radius: 0 10 10 0;
-moz-border-radius: 0 10 10 0;
border-radius: 0 10px 10px 0;
}
.slccn_cntdad_prgnts_sgrds{
margin: 0px auto;
top: 0px;
display: block;
width: 30px;
height: 65px;
font-size: 20px;
border-radius: 0px 0px 0px 0px;
border: 0px solid #000000;
}
.btn_cerrar_modal_cupones{
height: 30px;
width: 30px;
float: right;
background: url(../imagenes/admin_resources/btn_eliminar.png) no-repeat;
border: 0;
margin: 6px 10px 0 0;
}
.btn_mn_dnmc_stcn{
background-color: #7d94fa;
background-image: -moz-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -webkit-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -o-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -ms-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4b5796', endColorstr='#4b5796', GradientType=0);
background-image: linear-gradient(top, #7d94fa 0%, #4b5796 100%);
-webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
-moz-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
height: 65px;
width: 260px;
font-size: 21px;
font-weight: 600;
color: #fff;
letter-spacing: 5px;
word-spacing: 2pt;
text-align: center;
font-family: Arial;
line-height: 2;
cursor: pointer;
display: inline-block;
padding: 12px;
margin: 0;
text-decoration: none;
border: 0;
}
.btn_mn_dnmc_stcn_puntos{
background-color: rgb(31, 73, 125);
/*background-color: #7d94fa;*/
/*    background-image: -moz-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -webkit-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -o-linear-gradient(top, #7d94fa 0%, #4b5796 100%);
background-image: -ms-linear-gradient(top, #7d94fa 0%, #4b5796 100%);*/
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4b5796', endColorstr='#4b5796', GradientType=0);
/*background-image: linear-gradient(top, #7d94fa 0%, #4b5796 100%);*/
-webkit-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
-moz-box-shadow: 0 0 2px #bababa, inset 0 0 1px #fff;
height: 65px;
width: 190px;
font-size: 15px;
font-weight: 600;
color: rgb(223, 239, 252);
/* #fff;*/
letter-spacing: 3px;
word-spacing: -1pt;
text-align: center;
font-family: Arial;
line-height: 2;
cursor: pointer;
display: inline-block;
padding: 0;
margin: 0;
text-decoration: none;
border: 0;
}
.producto_inactivo{
border: none;
opacity: 0.1;
-ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=10);
filter: alpha(opacity=10);
}
.modal_cargando{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 766px;
background: rgba(0, 0, 0, 0.2);
z-index: 999999;
margin: 0;
padding: 0;
}
.modal_cargando_contenedor{
margin: 300px auto;
width: 140px;
height: 140px;
color: #333;
z-index: 9999999;
overflow-x: hidden;
overflow-y: hidden;
background: #fff;
-webkit-box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
}
.modal_cargando_contenedor_pantalla_pedido{
	margin: 400px auto;
	width: 340px;
	height: 160px;
	color: #333;
	z-index: 9999999;
	overflow-x: hidden;
	overflow-y: hidden;
	background: #fff;
	-webkit-box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 37px 4px rgba(0, 0, 0, 0.75);
	border: 2px solid;
	border-radius: 8px;
	padding: 5px;
}
.modal_cargando_contenedor img{
margin: 5px;
}
.alertaInput{
border: 2px solid #f66;
}
.cnt_tp_nv_cnj_cpn{
width: 500px;
margin: 5px auto 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
}
.cmn-toggle{
position: absolute;
margin-left: -9999px;
visibility: hidden;
}
.cmn-toggle + label{
display: block;
position: relative;
cursor: pointer;
outline: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
input.cmn-toggle-yes-no + label{
padding: 2px;
width: 120px;
height: 60px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after{
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: #fff;
font-family: "Roboto Slab", serif;
font-size: 20px;
text-align: center;
line-height: 60px;
}
input.cmn-toggle-yes-no + label:before{
background-color: #ddd;
content: attr(data-off);
-webkit-transition: -webkit-transform 0.5s;
-moz-transition: -moz-transform 0.5s;
-o-transition: -o-transform 0.5s;
transition: transform 0.5s;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after{
background-color: #8ce196;
content: attr(data-on);
-webkit-transition: -webkit-transform 0.5s;
-moz-transition: -moz-transform 0.5s;
-o-transition: -o-transform 0.5s;
transition: transform 0.5s;
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before{
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after{
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
-ms-transform: rotateY(0);
-o-transform: rotateY(0);
transform: rotateY(0);
}
input.cmn-toggle-round + label{
padding: 2px;
width: 120px;
height: 60px;
background-color: #ddd;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
-ms-border-radius: 60px;
-o-border-radius: 60px;
border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after{
display: block;
position: absolute;
top: 1px;
left: 1px;
bottom: 1px;
content: "";
}
input.cmn-toggle-round + label:before{
right: 1px;
background-color: #f1f1f1;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
-ms-border-radius: 60px;
-o-border-radius: 60px;
border-radius: 60px;
-webkit-transition: background 0.4s;
-moz-transition: background 0.4s;
-o-transition: background 0.4s;
transition: background 0.4s;
}
input.cmn-toggle-round + label:after{
width: 58px;
background-color: #fff;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
-webkit-transition: margin 0.4s;
-moz-transition: margin 0.4s;
-o-transition: margin 0.4s;
transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before{
background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after{
margin-left: 60px;
}
.cnt_swtch_prgnts{
width: 120px;
margin: 14px auto 10px;
}
.refresh_activo{
background-image: url(../imagenes/ordenpedido/refresh.png);
background-repeat: no-repeat;
background-position: center;
}
.refresh_bloqueado{
background-image: url(../imagenes/ordenpedido/refresh_bloqueado.png);
background-repeat: no-repeat;
background-position: center;
}
.btn_descripcionPreguntas_sugeridas{
border-radius: 0px 0px 0px 0px;
border: 0px solid #000000;
height: 65px;
width: 120px;
font-size: 12px;
}
.divContenedorRespuestasAPreguntasSugeridas{
margin: 4px;
float: left;
display: inline;
}
.divContenedorRespuestasAPreguntasSugeridas button{
float: left;
}
.boton_desMesa{
-moz-box-shadow: inset 0 0px 0 0 #fff;
-webkit-box-shadow: inset 0 0px 0 0 #fff;
background: none;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
border: 0 solid #dcdcdc;
display: table-cell;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-weight: 100;
margin-top: 0px;
margin-right: 4px;
text-decoration: none;
width: 100px;
float: right;
font-size: 23px;
float: right;
text-align: center;
width: 60px;
height: 70px;
vertical-align: middle;
padding: 10px 0px;
}
.Mi_mesa{
border: 4px red solid;
border-radius: 10px;
}
.Mi_mesa_det{
border: 4px green solid;
border-radius: 10px;
}
#textos p{
margin: 0 0 5px;
}
.classDisabled{
opacity: 0.2;
}
.ClassDisabled{
opacity: 0.2;
}
.boton_Accion{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: right;
}
.boton_Accion_EE{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: right;
box-shadow: 5px 5px 5px #91ec83;
}
.boton_Accion_Disable{
opacity: 0.2;
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #dfeffc;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: right;
}
.funcionGerente{
background-image: url(../imagenes/ordenpedido/funcionGerente.png);
background-repeat: no-repeat;
background-position: center;
}
.BtnSalir{
background-image: url(../imagenes/ordenpedido/Salir.png);
background-repeat: no-repeat;
background-position: center;
}
.info_mesa_btn{
background-image: url(../imagenes/ordenpedido/info_mesa.png);
background-repeat: no-repeat;
background-position: center;
}
.info_mesa_E_btn{
background-image: url(../imagenes/ordenpedido/info_mesa_E.png);
background-repeat: no-repeat;
background-position: center;
}
.info_unionMesa{
background-image: url(../imagenes/ordenpedido/unionMesa.png);
background-repeat: no-repeat;
background-position: center;
}
.info_unionMesa_E{
background-image: url(../imagenes/ordenpedido/unionMesa_E.png);
background-repeat: no-repeat;
background-position: center;
}
.info_unionMesa_fin{
background-image: url(../imagenes/ordenpedido/finUnion.png);
background-repeat: no-repeat;
background-position: center;
}
.cuentaRapida{
background-image: url(../imagenes/ordenpedido/cr.png);
background-repeat: no-repeat;
background-position: center;
}
.pagovoucher{
background-image: url(../imagenes/ordenpedido/cobraVoucher.png);
background-repeat: no-repeat;
background-position: center;
}
.pagovoucher_E{
background-image: url(../imagenes/ordenpedido/cobraVoucher_E.png);
background-repeat: no-repeat;
background-position: center;
}
.mesaSeleccionada{
background-color: yellow;
border-radius: 10px;
}
/* botones verdes*/
.boton_Accion1:hover{
background-color: #4f9812;
}
.boton_Accion_EE1{
background-color: #4f9812;
}
/*.botonAction{
background-color: #3B7808;
}*/
.boton_Accion1{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #3b7808;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: white;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 78%;
float: right;
font-weight: initial;
}
.boton_Accion_EE1{
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #4f9812;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: white;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 70px;
float: right;
box-shadow: 5px 5px 5px #050505;
font-weight: initial;
}
.boton_Accion_Disable1{
opacity: 0.2;
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
background-color: #3b7808;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #1d5987;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
text-shadow: -1px 1px 0 #fff;
width: 78%;
float: right;
}
.textoBtn{
padding-top: 3.3%;
}
#select_tipocupo{
float: left;
width: 100%;
text-align: center;
}
#select_tipocupo div.tipoCupon{
float: left;
width: 25%;
color: white;
height: 120px;
background-color: #769ad4;
border: 2px black solid;
text-align: center;
margin: 1.5% 1.5% 1.5% 5%;
}
#select_tipocupo div.tipoCupon div.letra{
padding-top: 20%;
}
#select_tipocupo div.tipoCupon input{
box-sizing: border-box;
width: 40%;
padding: 0.1 em;
border: 0.15em solid #808080;
border-radius: 0.5em;
text-align: center;
}
#select_tipocupo div.tipoCupon button{
border-radius: 0.5em;
height: 30px;
width: 45px;
}
#select_tipocupo div.tipoCupon input.checkbox{
float: right;
display: none;
}
#select_cliente{
float: left;
width: 100%;
text-align: center;
}
#select_cliente div.tipoCupon{
float: left;
width: 95%;
color: white;
padding: 2%;
margin-top: 3%;
background-color: #769ad4;
border: 2px black solid;
text-align: center;
}
.listarUsuario{
width: 262px;
height: 32px;
padding: 4px;
line-height: 32px;
text-indent: 4px;
cursor: pointer;
}
/*MM*/
#listadoPedido_puntos .ui-selecting{
background: #ccc;
}
#listadoPedido_puntos .ui-selected{
background: #999;
}
ul#listadoPedido_puntos{
margin: 0;
padding: 0;
list-style: none;
}
ul#listadoPedido_puntos li{
padding: 2px 6px 2px 5px;
margin: 0 0 2px;
border: 1px transparent solid;
border-top: 1px solid #d2d2d2;
float: left;
width: 100%;
background: #000 url(../imagenes/ordenpedido/bg_Listas.png) top center
repeat-x;
}
ul#listadoPedido_puntos .focus{
background: #1fa0e4;
color: #fff;
cursor: pointer;
}
#listaFactura_canje_puntos{
margin: 1% 1% 1% 1%;
color: blue;
/*position: absolute;*/
}
.size12{
font-size: 10px;
}
.ok_CuponElectronico{
background-image: url(../imagenes/ordenpedido/fondo_boton_cuponqr.jpg);
background-repeat: no-repeat;
background-position: center;
}
.animateUp{
-webkit-animation-duration: 0.5s;
animation-duration: 0.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp{
from{
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}to{
opacity: 1;
-webkit-transform: none;
transform: none;
}}
@keyframes fadeInUp{
from{
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}to{
opacity: 1;
-webkit-transform: none;
transform: none;
}}
.fadeInUp{
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}
.seleccionado{
background: #7daaec !important;
color: #fff !important;
}
.modalKiosko{
background-color: #fff;
display: none;
position: fixed;
top: 50%;
left: 50%;
width: 400px;
height: 250px;
margin-left: -200px;
margin-top: -150px;
padding: 25px 35px;
border-radius: 5px;
z-index: 99999;
box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.35);
}
.cerrarModalKiosko{
color: #000;
text-decoration: none;
font-size: 22px;
font-weight: bold;
}
.tituloModalKiosko{
color: #dfeffc;
font-size: 35px;
margin: 5px 0px 0px 0px;
text-align: center;
}
.subtituloModalKiosko{
color: #dfeffc;
font-size: 26px;
margin: 0px;
text-align: center;
text-transform: capitalize;
}
.pedidos_recibidos{
background-color: #3b7808;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #fff;
font-family: Arial;
font-size: 14px;
font-weight: 600;
padding: 10px 6px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
width: 15%;
}
.anular_pedido{
background-color: red;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #fff;
font-family: Arial;
font-size: 14px;
font-weight: 700;
padding: 22px 12px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
text-decoration: none;
width: 180px;
}
#btn_pedidos_app [badge]:after{
background: #B50314;
border-radius: 30px;
color: #fff;
content: attr(badge);
font-size: 20px;
margin-top: -34px;
min-width: 40px;
padding: 4px;
position: absolute;
text-align: center;
}
.btn_filtro_app [badge]:after{
background: #B50314;
border-radius: 30px;
color: #fff;
content: attr(badge);
font-size: 15px;
margin-top: -20px;
min-width: 30px;
padding: 4px;
position: absolute;
text-align: center;
}
[badge]:after{
background: #B50314;
border-radius: 30px;
color: #fff;
content: attr(badge);
font-size: 20px;
margin-top: -34px;
min-width: 40px;
padding: 4px;
position: absolute;
text-align: center;
}
[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after{
display: none;
}
#listaPedido{
float: left;
background: #fff;
width: 100%;
font-size: 12px;
height: 480px;
text-align: left;
}
#listado_app{
width: 100%;
}
#listado_pedido_app .ui-selecting{
background: #ccc;
}
#listado_pedido_app .ui-selected{
background: #999;
}
#listado_pedido_app .ui-selecting{
background: #ccc;
}
#listado_pedido_app .ui-selected{
background: #999;
}
ul#listado_pedido_app{
margin: 0;
padding: 40px 0 0;
list-style: none;
}
ul#listado_pedido_app li{
padding: 2px 6px 2px 0;

float: left;
width: 100%;
height: 40px;
line-height: 40px;
background: rgb(134, 134, 134);
background: linear-gradient(
0deg,
rgba(134, 134, 134, 0.3) 0%,
rgba(210, 210, 210, 0.3) 75%,
rgba(255, 255, 255, 0.3) 100%
);
}
ul#listado_pedido_app li:hover{
cursor: pointer;
}
ul#listado_pedido_app .focus{
color: #fff !important;
cursor: pointer;
background: rgb(0, 0, 0);
background: linear-gradient(
0deg,
rgba(80, 80, 80, 0.8) 0%,
rgba(0, 0, 0, 0.8) 25%,
rgba(109, 109, 109, 0.8) 100%
);
}
.cabeceraOrden{
position: absolute;
height: 40px;
line-height: 40px;
background: #333;
width: 100%;
color: #fff;
font-size: 12px;
text-transform: uppercase;
}
.telefono_app{
float: left;
width: 130px;
}
.fecha_app{
float: left;
width: 90px;
}
.cliente_app{
float: left;
width: 15%;
}
.lista_total{
float: left;
width: 90px;
}
.lista_medios{
float: left;
width: 8%;
text-align: center;
}
.lista_estado{
float: left;
width: 7%;
text-align: center;
}
.lista_estado i{
margin-top: 6px;
}
.lista_tiempo{
float: left;
width: 8%;
text-align: center;
}
.lista_tiempo_Despacho{
float: left;
width: 8%;
text-align: center;
}
.lista_tiempo_Motorizado{
float: left;
width: 8%;
text-align: center;
}
.lista_tiempo_Total{
float: left;
width: 8%;
text-align: center;
}
.lista_semaforo{
float: left;
width: 4%;
padding-top: 8px;
}
.lista_motorizado{
float: left;
width: 17%;
height: inherit;
}
.codigo_app{
float: left;
width: 15%;
padding-left: 10px;
}
.asignarFooter{
display: flex;
}
.btn_cerrar{
margin: 5px;
font-size: 20px;
float: left;
}
#filtro_app{
display: none;
margin: 0;
}
#filtro_app_fin{
display: none;
margin: 0;
}
.btn_filtro_app{
margin: 5px;
width: 100%;
}
.semaforo{
border-radius: 1em;
width: 15px;
height: 15px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 3px;
}
.medios{
padding: 2px;
text-align: center;
width: 100%;
margin: 5px;
width: 100%;
}
.btn_cambioEstado{
margin: 5px;
float: right;
/*font-size: 20px;*/
color: #fff;
background-color: #007bff;
border-color: #007bff;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1.6rem;
line-height: 1.5;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.lst_cliente,
.lst_codigo,
.lst_total,
.lst_forma_pago{
font-size: 17px;
line-height: 22px;
padding: 14px 0;
}
.lst_registro{
width: 300px;
font-size: 17px;
line-height: 22px;
padding: 14px 20px !important;
}
.lst_codigo{
width: 20%;
}
.lst_cliente{
width: 40%;
}
.lst_forma_pago{
width: 25%;
}
.lst_total{
width: 15%;
}
.datos_app{
font-size: 14px;
}
.datos_motorizado{
padding: 6px 5px;
align-items: center;
vertical-align: middle;
display: flex;
border-bottom: #000 thin solid;
background: rgb(0, 0, 0);
background: linear-gradient(
0deg,
rgba(0, 0, 0, 1) 0%,
rgba(228, 233, 235, 1) 1%,
rgba(255, 255, 255, 1) 100%
);
}
.datos_locales{
list-style:none;
width: 100%;
font-size: 18px;
padding: 6px 20px;
align-items: center;
vertical-align: middle;
display: flex;
border-bottom: #000 thin solid;
background: rgb(0, 0, 0);
background: linear-gradient(
0deg,
rgba(0, 0, 0, 1) 0%,
rgba(228, 233, 235, 1) 1%,
rgba(255, 255, 255, 1) 100%
);
}
/*asigna motorizado*/
.asigna_motorizado{
font-size: 18px;
font-weight: bold;
width: 60%;
}
.asigna_total{
font-size: 30px;
font-weight: bold;
width: 10%;
}
.datos_empresa_motorolo{
width: 30%;
font-size: 16px;
}
.asigna_estado{
font-size: 12px;
}
.cabecera_pedido{
font-size: 17px;
width: 100%;
}
#detalle_pedido{
background: #fff;
width: 700px;
height: 620px;
}
.detalle_pedido{
font-size: 14px;
width: 680px;
margin-top: 15px;
}
.modificador{
padding-left: 20px;
}
.fila{
padding: 5px 0;
}
.separacion-superior{
padding-top: 10px;
}
.separacion-inferior{
padding-bottom: 10px;
}
.principal{}
.secundario{
font-size: 15px;
}
.separador{
font-size: 12px;
color: #808782;
border-bottom: #808782 1px solid;
}
.txt_derecha{
text-align: right;
}
.centro{
text-align: center;
}
.plr_15{
padding-left: 15px;
padding-right: 15px;
}
#tbl_cabecera_pedido{
margin-left: 10px;
margin-right: 10px;
}
#tbl_detalle_pedido{
margin-left: 10px;
margin-right: 10px;
}
.fs_20{
padding-top: 15px;
padding-bottom: 30px;
font-size: 20px;
}
#lst_imp_error{
float: left;
background: #fff;
width: 100%;
font-size: 12px;
height: 620px;
text-align: left;
}
#lst_error_imp{
width: 100%;
}
.cabecera_lst{
position: absolute;
height: 40px;
line-height: 40px;
background: #333;
width: 100%;
color: #fff;
font-size: 12px;
text-transform: uppercase;
}
.error_transaccion{
float: left;
width: 45%;
}
.codigo_transaccion{
float: left;
width: 25%;
padding-left: 10px;
}
.total_transaccion{
float: left;
width: 15%;
}
.tipo_transaccion{
float: left;
width: 15%;
}
.datos_error{
font-size: 17px;
}
.cboEstadoPedido{
height: 40px;
width: 100%;
border-radius: 6px;
font-size: 18px;
font-weight: bold;
}
#lst_error .ui-selecting{
background: #ccc;
}
#lst_error .ui-selected{
background: #999;
}
#lst_error .ui-selecting{
background: #ccc;
}
#lst_error .ui-selected{
background: #999;
}
ul#lst_error{
margin: 0;
padding: 40px 0 0;
list-style: none;
}
ul#lst_error li{
padding: 2px 6px 2px 0;
margin: 0 0 2px;
border: 1px transparent solid;
border-top: 1px solid #d2d2d2;
float: left;
width: 100%;
height: 40px;
background: #fff url(../imagenes/ordenpedido/bg_Listas.png) top center
repeat-x;
line-height: 40px;
}
ul#lst_error li:hover{
cursor: pointer;
}
ul#lst_error .focus{
background: #7daaea;
color: #fff;
cursor: pointer;
}
#asignarMotorizadosLst{
padding: 0;
height: 500px;
}
#lstLocalesTransferencia{
padding: 0;
height: 500px;
}
#lstMotivosTransferencia{
padding: 0;
height: 500px;
}
#lstMotivosTransferenciaPickup{
padding: 0;
height: 500px;
}
#sltd_codigo_app{
font-size: 20px;
color: #000;
}
#sltd_estado_app{
font-weight: 500;
}
/* mapas */
#map{
height: 350px;
}
/* Optional: Makes the sample page fill the window. */
html,
body{
height: 100%;
margin: 0;
padding: 0;
}
#description{
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}
#infowindow-content .title{
font-weight: bold;
}
#infowindow-content{
display: none;
}
#map #infowindow-content{
display: inline;
}
#pac-container{
padding-bottom: 12px;
margin-right: 12px;
}
.pac-controls{
display: inline-block;
padding: 5px 11px;
}
.pac-controls label{
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
#pac_input{
line-height: 2rem;
font-size: 2rem;
}
#pac_input:focus{
border-color: #4d90fe;
}
.ocultarElemento{
display: none;
}
.mostrarElemento{
width: 500px;
height: 500px;
display: block;
}
.marco{
z-index: 1510;
background-color: white;
width:  90%;
height:  480px;
margin:  10% auto;
border-radius: 5px;
border: 5px solid #c2bcbb;
position:relative;
}
.titulo{
text-align: center;
padding-top: 10%;
font-size: 2.8em;;
}
.text_codigoVitality{
height: 50px;
font-size: 25px;
width: 480px;
text-align: center;
margin-top: 4%;
}
.botones{
width: 100%;
margin: auto;
text-align: center;
}
.button_fdzn{
margin-top: 80px;
/*margin-top: 4%;*/
margin-left: 2%;
width: 200px ; /* 185px;*/
height:50px ; /*35px;*/
padding: 0% 0% 0% 0%; /* padding: 2% 0% 4% 0%;*/
text-decoration: none;
outline: none;
font-size: 25px;
-moz-box-shadow:inset 0 1px 0 0 #fff;-webkit-box-shadow:inset 0 1px 0 0 #fff;background-color:#dfeffc;
-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #dcdcdc;display:inline-block;
cursor:pointer;color:#1d5987;font-family:Arial; font-weight:700;
text-decoration:none;text-shadow:-1px 1px 0 #fff;
}
.mensajePequeno{
font-size: 0.8em;
color: red;
}
/*.modal-open .modal{overflow-x:hidden;overflow-y:hidden;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal-dialog{width:600px;margin:280px auto}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}
.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-header .close{margin-top:-2px}
.modal-title{margin:15px 0 0 15px;line-height:1.42857143}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}*/
.codigoPromocion{font-size: 30px; width: 100%}
.parrafoPromocion{font-size: 20px}
.content__modalMPX{
position: relative;
top: 60px;;
}
.fila-pedidos-pickup{
font-size: 11px;
}
#generar_codigo .boton_Accion_EE1{float: left;width: 48%;font-size: 25px;padding: 0;}
#generar_codigo #generar_code{margin: 5px 2.5px 5px 0;}
#generar_codigo #imprimir_code{margin: 5px 0 5px 2.5px;}
.input_code{
	font-size: 35px !important; 
	text-align: center;
	height: 50px !important;
	cursor: pointer !important;
}

/*Cambios modal datos clientes*/
#ModalRegistroDatosDomicilio ul{padding: 0;}
#ModalRegistroDatosDomicilio ul.form-list, #modalverificacionagregarbeneficio .contenido{background-color: #fff; padding: 15px; border-radius: 10px;max-width: 600px;margin: auto;}
#ModalRegistroDatosDomicilio ul li, #ModalRegistroDatosDomicilio ul ul li{list-style: none;}
.d-flex{display: flex;}
.align-center{align-items: center;}
.d-flex.align-center input{margin-left: 15px;}
#datosDomicilio, #botones_domicilio, #datosClientePayphone.segundo, #ModalRegistroDatosDomicilio #botones_segundos{display: none;}
.form-list__input-inline > *{width: 100% !important;}
#ModalRegistroDatosDomicilio .botones button{padding: 0;}
#ModalRegistroDatosDomicilio .botones button:nth-child(1){margin-left: 0;margin-right: auto;}
#ModalRegistroDatosDomicilio .botones button:nth-child(2), #ModalRegistroDatosDomicilio .botones#botones_domicilio button{margin-left: auto;margin-right: 0;}
#ModalRegistroDatosDomicilio .form-list__row label{font-size: initial;}
#ModalRegistroDatosDomicilio #botones_primeros{display: flex;}
#ModalRegistroDatosDomicilio .modal__container, #modalverificacionagregarbeneficio .modal__container{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);align-items: center;justify-content: center;}
#ModalRegistroDatosDomicilio .modal__content, #modalverificacionagregarbeneficio .modal__content{padding: 15px;max-height: 90%;overflow-y: auto;position: relative;flex: none;min-width: 600px;width: auto;}
#ModalRegistroDatosDomicilio #botones_cabecera button, #ModalRegistroDatosDomicilio #botones_domicilio button{background-color: #808080;height: auto;padding: 10px;border-radius: 5px;}
#ModalRegistroDatosDomicilio #botones_cabecera button.active, #ModalRegistroDatosDomicilio #botones_domicilio button.active{background-color: #24cf5f;}
#btn_beneficio.disabled{background-color: #808080;}
#teclado_clientes{display: flex;align-items: center;justify-content: center;}
#teclado_clientes div{background-color: #fff;margin-top: 10px; margin-left: 80px;border-radius: 10px;padding: 10px;display: none;}
.hidden{display: none !important;}
.close#closeModal{position: absolute;right: 0;background-color: #fff;width: 50px;height: 50px;border-radius: 100%;text-align: center;top: 0;font-size: 50px;line-height: 50px;font-weight: bold;color: red;cursor: pointer;}
#modalverificacionagregarbeneficio input{width: 100%; height: 35px; margin-top: 15px;padding: 0 5px;}
#modalverificacionagregarbeneficio .modal__content{min-width: 500px;}
#modalverificacionagregarbeneficio .cnt_tp_nv_cnj_cpn{position: relative;height: 60px;display: flex;align-items: center;justify-content: center;}
.preguntasBotonPlu label{display: flex; align-items: center; justify-content: center;}
.preguntasBotonPlu label p{margin: 0,}

/*MDM Clientes Boton Regresar*/
.otro_documento{background-image: url(../imagenes/regresar2_40x40.png);background-repeat: no-repeat;background-position: center;background-color: #dfeffc !important;height: 40px !important;width: 40px !important;}
.jb-shortscroll-wrapper{z-index: 1 !important;}

.pantallaCalculadora {
    /* border: 1px solid #eae7e7; */
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.checkboxPluAplicaPicada {
    width: 19px;
    height: 19px;
    background-color: #ffffff;
    float: right;
    position: absolute;  
    right: 0px;  
    top: 0px;
    font-size: 19px;
    color: #ffffff;
    visibility: hidden;
}

.checkboxPluAplicaPicada.visible {
    visibility: visible;
}

.checkboxPluAplicaPicada.visible.escogido {
    color: #007bff;
}

.pluNoAplicaPicada.inactivo {
    cursor: not-allowed;
    background-color: rgb(148, 148, 148) !important;
    pointer-events: none;
}

.modal-content-nombrarPicada {
    position: fixed !important;
    width: 500px !important;
    right: 0px;
    left: 400px;
}